absl-py
appdirs
astunparse
backcall
beautifulsoup4
bs4
cachetools
certifi
chardet
click
cloudinary
colorama
contextvars
decorator
filelock
filetype
Flask
future
gast
google
google-auth
google-auth-oauthlib
google-pasta

h11
h2
h5py
hpack
hstspreload
httpcore
httpx
hyperframe
idna
immutables
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
Keras-Preprocessing
lxml
Markdown
MarkupSafe
numpy
oauthlib
opencv-python
opt-einsum
parso
pickleshare
Pillow
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
Pygments
pytesseract
python-dateutil
python-whois
pywin32
pyzmq
requests
requests-oauthlib
rfc3986
rsa
scikit-learn
scipy
sightengine
six
sniffio
soupsieve
SpeechRecognition
tensorboard-plugin-wit
tensorflow-estimator
termcolor
threadpoolctl
torch
torchvision
tornado
traitlets
typing-extensions
uritools
urlextract
urllib3
wcwidth
Werkzeug
wrapt
zipp
