.chat {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  background-color: lightblue;
  width: 700px;
  height: 580px;
  overflow: scroll;
}
input {
    line-height: 4em; // 2em is (2 * default line height)
}
